.chatbot-container {
  position: fixed;
  bottom: 65px;
  right: 65px;
  display: flex;
  align-items: flex-end;
  gap: 10px;
  filter: none !important; /* Ensure chatbot is never blurred */
}

.chatbot-message {
  border-radius: 10px 10px 0px 10px;
  background: linear-gradient(146deg, rgba(209, 248, 245, 0.96) 10%, rgba(232, 215, 253, 0.96) 90%);
  padding: 15px;
  max-width: 320px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  position: relative;
  border: 3px solid transparent;
  background-clip: padding-box;
 
  bottom: 75px;
  left: 10px;
}

.chatbot-message::before {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  z-index: -1;
  border-radius: 10px 10px 0px 10px;
  background: linear-gradient(180deg, #6138F5 0%, #18DCCF 50%, #F373FC 100%);
}

.chatbot-message p {
  margin: 5px 0;
  font-size: 0.95rem;
  color: #333;
  line-height: 1.4;
}

.chatbot-avatar {
  border-radius: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 10px rgb(0 0 0 / 47%);
  position: relative;
  background-color: white;
  cursor: pointer;
  transition: transform 0.2s ease;
}

/* .chatbot-avatar:hover {
  transform: scale(1.05);
} */


.chatbot-avatar:hover {
  transform: scale(1.09);
}

.chatbot-icon {
  height: 80px;
  width: 85px;
  border-radius: 75px;
  padding: 9px;
  object-fit: contain;
}

/* Responsive styles */
@media (max-width: 576px) {
  .chatbot-container {
    bottom: 10px;
    right: 10px;
  }
  
  .chatbot-message {
    max-width: 250px;
  }
}
