/* Font override to use Outfit font throughout the application */
* {
  font-family: 'Outfit', sans-serif !important;
}

h1, h2, h3, h4, h5, h6, p, span, div, button, input, textarea, select, option, label, a {
  font-family: 'Outfit', sans-serif !important;
}
