.leadgen-container {
    position: fixed;
    bottom: 73px;
    left: 65px;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    z-index: 1000; /* Increased z-index to ensure it's above other elements */
    filter: none !important; /* Ensure chatbot is never blurred */
  }
  
  .leadgen-message {
    border-radius: 10px 10px 10px 0px;
    background: linear-gradient(146deg, rgba(209, 248, 245, 0.96) 10%, rgba(232, 215, 253, 0.96) 90%);
    padding: 15px;
    max-width: 320px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    position: relative;
    border: 3px solid transparent;
    background-clip: padding-box;
   
    bottom: 85px;
    right: 10px;
  }
  
  .leadgen-message::before {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    z-index: -1;
    border-radius: 10px 10px 10px 0px;
    background: linear-gradient(180deg, #6138F5 0%, #18DCCF 50%, #F373FC 100%);
  }
  
  .leadgen-message p {
    margin: 5px 0;
    font-size: 0.95rem;
    color: #333;
    line-height: 1.4;
  }
  
  .leadgen-avatar {
    border-radius: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px 10px rgb(0 0 0 / 47%);
    position: relative;
    background-color: white;
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  
  /* .chatbot-avatar:hover {
    transform: scale(1.05);
  } */
  
  
  .leadgen-avatar:hover {
    transform: scale(1.09);
  }
  
  .leadgen-icon {
    height: 70px;
    width: 70px;
    border-radius: 75px;
    padding: 9px;
    object-fit: contain;
  }
  
  /* Responsive styles */
  @media (max-width: 576px) {
    .leadgen-container {
      bottom: 10px;
      left: 10px;
    }
    
    .leadgen-message {
      max-width: 250px;
    }
  }
  